/* .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    margin: 0 auto;
    margin-bottom: 16px;
    max-width: 100%;
    width: 360px;

    background-color: #e9edff;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.name {
    font-weight: 500;
}

.tag {
    color: black;
}

.location {
    color: brown;
}

.stats {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 16px;
    width: 100%;
}

li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

span {
    margin: 0px 5px;
    font-size: 16px;
}

.label {
    font-weight: 500;
}

.quantity {
    font-weight: bold;
} */