
/* .statistics {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 16px;
    max-width: 100%;
    width: 360px;
    box-shadow: -1px -1px 1px #fff, 1px 1px 1px #babecc;
}

.title {
    padding: 8px;
    color: heading;
    text-shadow: 1px 1px 1px #fff;
    text-transform: uppercase;
    text-align: center;

    font-weight: bold;
    font-size: 32px;

    border-bottom: 1px solid #d3d5e3;
}

.statList {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
    padding: 4px;
    width: 100%;
    height: 100%;
    text-shadow: 0 0 1px #000;
}

.label {
    font-size: 0.8rem;
    color: rgb(53, 49, 49);
}

.percentage {
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(53, 49, 49);
} */