/* .transactionHistory {
    margin: 0 auto;
    margin-bottom: 16px;
    padding: 8px;
    max-width: 90%;
    width: 90%;
    border-radius: 8px;
    box-shadow: -0.0625rem -0.0625rem 0.0625rem #fff,
    0.0625rem 0.0625rem 0.0625rem #babecc;
}
.thead {
    border-radius: 8px;
    background-color: #e9edff;
    color: #9e0202;
    text-shadow: 0.0625rem 0.0625rem 0.0625rem #fff;
    font-size: 1rem;
    text-transform: uppercase;
}
.tr {
    background-color: #e9edff;
}
.th {
    padding: 0.5rem 0;
    text-align: left;
}
.tbody {
    background-color: white;
}
.td {
   padding-left: 16px;
    border-right: 0.125rem solid #e9edff; 
} */